
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Task App</title>
  <meta name="description" content="Task App">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>

  <h1>This is my Personal Tasks Reminder App</h1>


  <form action="http://localhost:5000/login" method="get">
      <label for="task">Task:</label>
      <input type="text" id="task" name="task"><br><br>
      <label for="deadline">Due date:</label>
      <input type="datetime-local" id="deadline" name="deadline"><br><br>
      <input type="submit" value="Submit">
    </form>

    <input required="" type="datetime-local" name="time">
    
      
  
</body>

</html>