

body  {
  background-image: url("http://www.esa.int/extension/pillars/design/pillars/images/nebula.jpg");
}

#message-form{
    width:100vw;
    margin:auto;
    background-color:mediumpurple;
}

input[type="submit"]{
    padding:5px;
    border-radius:20px;
    background-color: mediumpurple;
    padding: 10px 20px;
    margin: 20px 0px;
}

input[type="text"]{
    padding:10px;
    border-radius: 20px;
    border:none;
}

input:focus{
    border:none;
}